@import '../../_base.scss';

.mytechs {
    width: 100%;
    padding-top: 56px;
    overflow: hidden;
    background: $secondary-color;
    
    .title-category {
        color: white;
    }
  
    &.scroller {
        max-width: 100%;
        overflow: hidden;

        &[data-animated="true"] {
            overflow: hidden;
            // -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
            // mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);

            .scroller__inner {
                width: fit-content;
                flex-wrap: nowrap;
                animation: scrollMobile 20s linear infinite;

                @include media-min('phone-down') {
                    animation: scroll 20s linear infinite;
                }

                .slide {
                    img {
                      width: 75px;
                      height: 75px;  
                    }
                }
            }
        }
    
        .scroller__inner {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            padding-block: 2rem;

            @include media-min('phone-down') {
                gap: 4rem;
            }
        }
    }
}


  