@import '../../_base.scss';

.project-gallery {
  padding-top: 56px;
  padding-bottom: 2rem;
  text-align: center;

  h2 {
    @include text_type_1;
  }
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  width: fit-content;
  margin-bottom: 20px;

  .filter-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 40%;
    width: 40%;

    @include media-min('phone-down') {
      max-width: unset;
      width: unset;
    }

    &:hover, &.active {
      background-color: $secondary-color; 
    }
  }
}

.project-cards {
  display: flex;
  row-gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
  
  