@import '../../_base.scss';

.project-gallery {
  padding-block: 20px;
  text-align: center;

  h2 {
    @include text_type_1;
  }
}

.filter-buttons {
  margin-bottom: 20px;

  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $secondary-color; 
    }
  }
}

.project-cards {
  display: flex;
  row-gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
  
  