@import '../../../_base.scss';

header {
    position: fixed;
    z-index: 10;
    height: fit-content;
    width: 100%;
    background-color: $secondary-color;

    @include shadowed;

    nav {

        .icon-burger {
            font-size: 36px;
            color: white;
            text-align: center;
        }
    }

}