@import '../../../_base.scss';

header {
    position: fixed;
    z-index: 10;
    height: 56px;
    width: 100%;
    background-color: $secondary-color;

    @include shadowed;

    nav {

        .header-links-list {
            @include flex-end;
            width: 90%;
            margin: auto;
            gap: 5rem;
            padding-left: 0;

            &.mobile {
                justify-content: center;
            }
    
            .item {
                padding-block: 1rem;

                a {
                    @include flex-centered;
                    gap: 0.5rem;
                    color: white;
                }
            }
        }

        .icon-burger {
            font-size: 36px;
            color: white;
            text-align: center;
        }
    }

}