@import '../../_base.scss';

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    text-align: left;
  
  .intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    @include text_type_2;
  }
  
  .intro-text {
    flex: 1;
  }
  
  .highlight {
    color: $secondary-color;
  }

  .typed-style {
    color: $secondary-color;
  }
  
  .intro-photo img {
    border-radius: 50%;
  }
}