@import '../../../_base.scss';

footer {
    height: fit-content;
    padding: 1rem 2rem;
    width: 100%;
    background-color: $primary-color;
    @include shadowed;
    @include flex-centered;

    .footer-links-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding-block: 1rem;
        padding-left: 2rem;

        @include media-min('phone-down') {
            @include flex-around;
            flex-direction: row;
            gap: 0;
            padding-block: 0;
            padding-left: 0;
        }

        .item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: white;
        }
    }
}