@import '../../../_base.scss';

footer {
    height: fit-content;
    padding: 1rem 2rem;
    width: 100%;
    background-color: $primary-color;
    @include shadowed;
    @include flex-centered;

    .footer-links-list {
        width: 100%;
        @include flex-around;

        .item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: white;
        }
    }
}