@import '../../../base.scss';

.project-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    }

    .project-modal {
    position: absolute;
    width: 95%;
    max-width: 1000px;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: thin; /* for Firefox */
    scrollbar-color: #888 #f1f1f1; /* for Firefox */

    /* For Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 122px; /* Width of the scrollbar */
    }
  
    /* The track (background) */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Track color */
        border-radius: 100px; /* Rounded corners */
    }
  
    /* The handle (scrollbar thumb) */
    &::-webkit-scrollbar-thumb {
        background: #888; /* Scrollbar color */
        border-radius: 100px; /* Rounded corners */
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color when hovered */
    }
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    @include media-min("tablet-down") {
        width: 80%; 
    }

    .project-modal-full-content {
        display: flex;
        align-items: center;

        .project-modal-summary {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 20px;

            .project-description {
                background-color: $primary-color-lighted;
                border-radius: 10px;
                padding: 20px;
                @include text_type_3 (black);
                text-align: justify;
            }

            .project-details-block {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .project-icons {
                    width: 100%;
                    margin: auto;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);

                    @include media-min('tablet-down') {
                        width: 80%;
                    }
          
                    .project-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $primary-color;
                        color: white;
                        padding: 1rem;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        gap: 1rem;

                        &:first-of-type {
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        &:last-of-type {
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
            
                        &.active {
                            grid-column: span 2;
                            justify-content: center;
                            background-color: $secondary-color;
                        }
            
                        .icon {
                            font-size: 2rem;
                        }
            
                        .description {
                            display: none;
                        }
            
                        &.active .description {
                            display: block;
                            @include text_type_3 (white);
                        }
                    }
                }
            }

            .project-details {
                background-color: $secondary-color-lighted;
                border-radius: 10px;
                padding: 20px;
                text-align: justify;

                h3 {
                    color: $secondary-color;
                    @include text_type_2;
                    margin-bottom: 10px;
                }

                p, a {
                    @include text_type_3 (black);
                }

                a {
                    text-decoration: underline;
                }
            
            }
        }

        // .project-modal-galery {
        //     flex: 1;

        //     img {
        //         border-radius: 10px;
        //         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        //     }
        // }
    }
}
