// Variables globales
$primary-color: #000431;
$primary-color-lighted: #00043180;
$secondary-color: #FFBC00;
$secondary-color-lighted: #FFBC0080;
$tertiary-color: #ffffff;
$primary-font: "Oswald";

// BreackPoint
$breakpoints: (
  "base": 900px,
  "phone-down": 500px,
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px,
  "custom-phone": 360px,
);

// Média
@mixin media-min($_key) {
  @media screen and (min-width: map_get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}


@mixin shadowed {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@mixin absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin main_title {
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@mixin text_type_1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  color: $secondary-color;
}

@mixin text_type_2 {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}